*{
    box-sizing: border-box;
    text-align: center;
}
html, body{
    background-color: black;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, Serif;
    font-size: 18px;
    line-height: 150%;
}

/* h1{
    color: black;
} */

h1, h2 {
    color: #efeee7;
    background-color: #333333;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;

}

h2{
    font-size: 24px;
}

a {
    color: #d21034;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#sneaker-file, #contact-info {
    float: left;
}

img {
    margin-right: 20px ;
    width: 200px;
    height: 200px;
}

#sneaker-file {
    width: 60%;
}

#contact-file {
    width: 40%;
}

#fixed_title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    opacity: 0.6;
    /* background: #eee; */
}

.wrapper {
width: 600px;
padding: 20px;
margin: 0 auto;
}

#relative {
    position: relative;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* background: #eee; */
}

#yeezy-season {
    width: 490px;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}

#absolute {
position: absolute;
  right: -115px;
  bottom: -40px;
  width: 250px;
  padding: 20px;
  text-align: center;
  /* background: #999; */
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

#left{
float: left;
width: 33.3%;
color: #fff;
}

#middle {
    float: left;
    width: 33.3%;
    color: white;

}

#right {
float: left;
width: 33.3%;
color: white;
}

#info {
  width: 100%;
  overflow: auto;
  clear: both;
  color: #fff;
  background: #394549;
}

#division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
  }

#blog{
    background-color: #b9b1a6db;
  }
aside {
    float: left;
    width: 33%;
    height: 255px;
    padding: 20px;
    margin-left: 30px;
    text-decoration-color: white;
    background: #a6b747;
    border: 1px solid #eee;

}

.content1 {
    float: left;
    
}

.content2 {
    float: left;
}

.content3{
    float: left;
}

footer { 
    padding: 20px;
    clear: both;
    background: #ffa500;
}

.copyright {
    float: center;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
