html {
    background-color: rgba(112, 71, 71, 0.328);
}

.h1{
    color: black;
}

header{
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
}

#left{
float: left;
width: 33.3%;
color: #fff;
background: #30948d;
}

#middle {
    float: left;
    width: 33.3%;
    color: white;
    background: #9e1212;

}

#right {
float: left;
width: 33.3%;
color: white;
background: #30948d;
}

#info {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #fff;
    background: #394549;
}

.aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    text-decoration-color: white;
    background: #a6b747;
    border: 1px solid #eee;

}
.content1 {
    float: left;
    
}

.content2 {
    float: left;
}

.content3{
    float: left;
}

.copyright {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}